# C'EST UNIQUEMENT POUR LE DÉPOSITAIRE gitattributes.
# Gérer automatiquement les fins de ligne pour les fichiers détectés sous forme de texte
# et laissez tous les fichiers détectés comme binaires intacts.
*  text = auto

#
# Ce qui précède gérera tous les fichiers NON trouvés ci-dessous
#
# Ces fichiers sont du texte et doivent être normalisés (Convertir crlf => lf)
* .gitattributes  texte
 Texte .gitignore
* Texte .md 
* Texte .bat



*.css linguist-language=Javascript
